#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

body,
html {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  background-color: #292b35;
}

.header {
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #19191c;
  align-items: center;
  justify-content: center;
  box-shadow: #888;
}
.logo {
  font-size: 32px;
  padding: 0.5em;
  will-change: filter;
  transition: filter 800ms;
  font-weight: bolder;
  width: fit-content;
  top: 0px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffffff);
}
.logo.react:hover {
  transition: cubic-bezier(0.39, 0.575, 0.565, 1);
  font-size: larger;
  filter: drop-shadow(0 0 2em #ffffffe9);
}
button {
  height: 5vh;
  width: 15vh;
  margin-left: 4vh;
  margin-right: 4vh;
  margin-bottom: 1vh;
}

#roomId {
  width: 8vh;
  height: 2vh;
  font-size: 16px;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.buttonBox {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10%;
}

.joinBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#main {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
}

#chatMain {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

#chat {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 8px;
}

#log {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  text-align: left;
  padding: 8px;
}
pre {
  text-align: left;
  margin: 2%;
  display: flex;
  flex-direction: column-reverse;
}

#chatBox {
  display: flex;
  width: 60%;
  height: 45%;
  margin: 24px;
  margin-bottom: 0;
  min-width: 9rem;
  min-height: 6rem;
  border-style: solid;
  border-color: white;
  border-radius: 3px;
  border-width: 2px;
  flex-direction: column-reverse;
  overflow-y: scroll;
  align-items: start;
}

#message {
  height: 5%;
  margin: 0px;
  margin-top: 0;
  padding: 8px;
  width: calc(60% - 16px);
}

.sbsBox{
  display: flex;
  flex-direction: row;
}

.player{
  display: flex;
  flex-direction: row;
}
